body{
    overflow-x: hidden ;
   
}

/*navbar*/

.navbar-brand{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.lien a{
    color: black;
   font-size:30px ;
   margin-right: 50px;
   text-decoration: none;
}
.lien a:hover{
     color: #586370!important;
}
.clt .azerty {
    margin-top: 12%;
    height:550px;
}
 h5{
    margin-top: -45%;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: rgb(190, 183, 183); */
    color: white;
    font-weight: bold;
    border-radius: 10px;
    /* box-shadow: -5px -4px 24px 3px rgba(0,0,0,0.75); */
}
.tour{
    margin-top: 5%;
}
.tour img{
    height:300px;
    width:415px; 


} .cc{
    margin-top: 10px;
}
.autre img{
    max-width: 100%;
}
.autre .card_effet{
    flex:0 0 calc(33.333% -30px);
    margin:0 15px ;
    position: relative;
    transition: all 0.5s ease-out;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(0deg);
}

.autre .card_effet img{
    display: block;
}
.pic1{
    filter: grayscale(100);
}
.card_effet_in{
    position: absolute;
    left: 0;
    top: 100%;
   transform: rotateX(-90deg);
   transform-origin:top ;
}
.card_effet_in p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    transition: all 0.5s ease-in-out 0.3s ;
    opacity: 0;
}
.autre .card_effet:hover{
    transform: rotateX(90deg) translateY(-1000px);
}
.autre .card_effet:hover .card_effet_in p{
    opacity: 1;
} 
.pied{
    margin-top: 5%;
    background-color: rgb(126, 129, 129);
}
.pied a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-align: justify;
   
}
.pied p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;  
}
.pied h3{
    color: black;
    font-weight: bold;
    font-size: 20px;
}