body{
    overflow-x: hidden ;
   
   
}

/*navbar*/

.navbar-brand{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.lien a{
    color: black;
   font-size:30px ;
   margin-right: 50px;
   text-decoration: none;
}
.lien a:hover{
     color: #2d333a!important;
}
.clt img {
    margin-top: 12%;
    height:550px;
}
 h5{
    margin-top: -45%;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: rgb(190, 183, 183); */
    color: white;
    font-weight: bold;
    border-radius: 10px;
    /* box-shadow: -5px -4px 24px 3px rgba(0,0,0,0.75); */
 }
 .culture h1{
    color: green;
    text-align:center;
    margin: 20px;
 }
 .langue{
     height: 350px;
    
 }
 .langue .card{
    width: 1280px;
 }
 .langue .card:hover{
    -webkit-box-shadow: -4px -5px 15px 3px rgba(51,41,51,1);
    -moz-box-shadow: -4px -5px 15px 3px rgba(51,41,51,1);
    box-shadow: -4px -5px 15px 3px rgba(51,41,51,1);
 }
 .culture p{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 20px;
 }
 .culture .lettre{
     font-size: 60px;
     color: green;
     font-weight: bold;
 }
 .culture span{
     color: green;
     font-size: 25px;
 }
 .repas p{
     text-align: justify;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 20px;
     margin: 40px;
 }
 .plat {
    height: 700px;
 }
 .plat .card{
     margin-top: 20px;
 }
 .plat img{
     
     height: 300px;
     width: 405px;
}

/* .fetes{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.multiple-items{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.slick-prev{
    border: none;
    background: none;
}
.slick-next{
    border: none;
    background: none;
}
.fas{
    color: rgba(255, 255, 255, 0.913);
} */

.cere{
    height: 1300px;
   
}
/* .swiper{
    width: 1100px;
} 
.swiper .card{
    width: 500px;
    height: 400px;
}
.swiper .card img{
    width: 500px;
    height: 400px;
} */
/* .centre1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

 .centre1 img{
    height: 300px;
    width: 350px;
}  */

.responsive{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.responsive .card{
    height: 300px;
    width: 350px;
}
.slick-prev{
    font-size: 30px;
    border: none;
    background: none;
}
.slick-next{
    
    font-size: 30px;
    border: none;
    background: none;
}
.fas{
    color:rgba(180, 176, 176, 0.897)
}
.pied{
    margin-top: 13%; 
    width: 100%;
    background-color: rgb(126, 129, 129);
}
.pied a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-align: justify;
}
.pied p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;  
}
.pied h5{
    color: black;
    font-weight: bold;
    font-size: 25px;
}